

.App{
  position: relative;
  background: url('./image//loading-image.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
.login{
  margin: auto;
  width: 30%;
}
.mt-5{
  color:black;
}
.text{
  color:black;
}
 .state{
   margin: 5px;
 }
 .City{
   margin: 8px;
 }
