

.App{
  position: relative;
  background: url('./image//loading-image.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 30px;
  
}
.login{
  margin: auto;
  width: 30%;
  background-color: whitesmoke;
  border-radius: 10%;
  padding: 2%;

}

.text{
  color: black;
}
 .state{
   margin: 5px;
 }
 .City{
   margin: 8px;
 }
