.button {
  color: red;
    margin-left: 20px;
    border-radius: 13px;
    padding: 9px;
    width: 9%;
    margin: 24px;
}
.App{
  position: relative;
  background: url('./image//loading-image.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}
.login{
  margin: auto;
  width: 30%;
}
.mt-5{
  color:black;
}
.text{
  color:black;
}
 
